@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  --black: #111;
  --black-1: #202024;
  --violet: #4f2ee8;
  --yellow: #eac645;
  --white: #fff;
  --font-family: 'DM Sans', sans-serif;
}

.btn {
  border: 2px solid var(--violet);
  border-radius: 40px;
  padding: 20px;
  outline: none;
  cursor: pointer;
  background-color: transparents;
}
